<!DOCTYPE html>
<html>
<head>
  <title>Gifs</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="5; URL=/">
</head>
<body>

<%= yield %>

</body>
</html>
